	.avatar {
		width: 50px;
		border-radius: 50%;
	}

	.fondo_gris {
		background: #ccc;
	}

	.fondo_rojo{
		background: red;
	}

	.tabla_martin { 
		width: 100%;
	}

	.tabla_celda {
		text-align: center;
	}
	.tabla_nombre  {
	font-size: 24px;
	color: #320782;
}
	.tabla_usuario {
		padding-bottom: 20px;
	}
		.tabla_nombre{
			padding: 10px;
	  background: #6b6b6b;
	  color: #fffdd4;
	}
@media only screen and (min-width: 900px) {
	.tabla_celda {
		text-align: left;
		float: left;
	}

	.tabla_nombre,.tabla_categoria,.tabla_fecha {
		width: 31%;
	  padding: 14px;
	  background: none;
	}


	.tabla_usuario {
		width: 7%;
		padding-bottom: 0px;		
	}

	.tabla_nombre  {
		font-size: 20px;
		color: #320782;
	}

}	

.tabla_martin_celda {
	background: #fff4e5;
	border-radius: 20px;
}

.tabla_martin_celda a{
	color: #9e0083;
}


.tabla_martin_celda a:hover{
	text-decoration: none;
}
.tabla_martin_celda {
	background: #fff4e5;
	border-radius: 20px;
}
.tabla_martin_celda:hover {
	background: #ffdeb2;
}
.tabla_martin_celda:nth-of-type(2n) {
	background: #f5e5f2;
	border-radius: 20px;
}

.tabla_martin_celda:nth-of-type(2n):hover {
	background: #e2b2da;
}
.clear {
	clear: both;
	float: none;
}



.tabla_nombre span {
	background: red;
	padding: 5px;
	border-radius: 5px;
	color: #fff;
	margin-right: 20px;
}

.mensaje_exitoso {
	background: #3c8912;
	padding: 10px;
	color: #fff;
}