		.foto_staff {
			width: 120px;
			border-radius: 100%;
			display: block;
			margin: 0 auto;
		}
		.barra_porcentaje, .barra_porcentaje_movil {
			width: 100%;
			height: 26px;
			background: #f90;
			text-align: right;
			color: #fff;
			padding: 4px;
			font-weight: bold;
		}
		.barra_porcentaje {
			display: none;
		}		
			.color1 {
			background: #3a86f6 !important;
		}
		.color2 {
			background: #e84933 !important;
		}
		.color3 {
			background: #f8c524!important;
		}
		.color4 {
			background: #32ae56!important;
		}	
		.fila_tabla {
			text-align: center;
			line-height: 26px;
		}
		.liston_administrador {
			position: absolute;
			height: 50px;
			top: 80px;
			z-index: 3;
		}	
	@media only screen and (min-width: 768px) {
		.liston_administrador {
			position: absolute;
			height: 50px;
			left: 80px;
			top: 80px;
			z-index: 3;
		}	
		.barra_porcentaje {
			display: block;
		}	
		.barra_porcentaje_movil {
			display: none;
		}				
		.foto_staff {
			width: 120px;
					border-radius: 100%;
					display: block;
							z-index: 2!important;
							position: absolute;
		}
		.fila_tabla div {
		}	
		.negocios_cargados {
			padding-top: 10px;
			text-align: right;
			font-size: 16px;
			line-height: 25px;	
		}
		.clear {
			clear: both;
			float: none;
		}
		.fila_general p {
			line-height: 24px;
		}
	}
		h2 {
		font-size: 36px;
		margin: 0 auto;
		text-align: center;
	}

	.nombre_fecha span {
		color: #ff9200;
	}

	.ganador_semana {
		background: #ffc301;
		padding: 10px;
		padding-top: 20px;
		border-radius: 20px;
		text-align: center;
		width: 100%;
		max-width: 300px;
		margin: 0 auto !important;
		margin-bottom: 60px !important;
	}

	.foto_ganador {
		width: 100%;
		max-width: 240px;
		border-radius: 50%;
	}

	.ganador_trofeo {
		width: 100%;
		max-width: 170px;
	}

.liston_administrador_chiquito{
	width:15px;
}	
.administrador {
	color: #e84933;
}
.negocios_reportados {
	color:red;
}